@model QLyHS1.Data.Student
@{
    ViewData["Title"] = "Chi tiết lớp học";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí học sinh</title>
    <link rel="stylesheet" href="~/CSSP/Base.css">
    <link rel="stylesheet" href="~/CSSP/Hearder.css">
    <link rel="stylesheet" href="~/CSSP/Menu.css">
    <link rel="stylesheet" href="~/CSSP/Detail.css">
    <link rel="stylesheet" href="~/fontawesome-free-6.7.1-web/css/all.min.css">
</head>

<body class="body">

    <!-- -------------------------------------- -->
    <div class="table_Detail">
        <div class="Detail_form">
            <p>Chi tiết học sinh</p>
            <button onclick="window.location.href='@Url.Action("Index", "Student")'" class="btn-back">Quay lại</button>
        </div>
        <div class="detail-item">
            <strong>Họ Tên:</strong> @Model.Name
        </div>
        <div class="detail-item">
            <strong>Lớp học:</strong> @Model.Class.Name
        </div>
        <div class="detail-item">
            <strong>Giới tính:</strong> @Model.Gender
        </div>
        <div class="detail-item">
            <strong>Email:</strong> @Model.Email
        </div>
        <div class="detail-item">
            <strong>Ngày sinh:</strong> @Model.DateOfBirth
        </div>
        <div class="detail-item">
            <strong>Liên hệ:</strong> @Model.Phone
        </div>
        <div class="detail-item">
            <strong>Liên hệ phụ huynh:</strong> @Model.PhoneParent
        </div>
        <div class="detail-item">
            <strong>Địa chỉ:</strong> @Model.Address
        </div>
        <div class="detail-item">
            <strong>Hạnh kiểm:</strong> @Model.Conduct ?? "Không có thông tin"
        </div>

        <div class="detail-item">
            <strong>Ngày tạo:</strong> @Model.CreateAt
        </div>
        <div class="detail-item">
            <strong>Ngày cập nhập:</strong> @Model.UpdateAt
        </div>
        <div class="detail-item">
            <strong>Trạng thái:</strong> @((Model.Status == true) ? "Còn Học" : "Nghỉ học")
        </div>
    </div>

</body>

</html>