<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/CSSP/Menu.css">
    <link rel="stylesheet" href="~/CSSP/Base.css">
</head>

<body>

    @await Html.PartialAsync("_Header")

    <div class="grid">
        @if (!(ViewData["Title"]?.ToString() == "Trang chủ"))
        {
            <div class="menu">
                <div class="app">
                    <div class="menu">
                        <div class="menu_text">
                            <i class="fa-solid fa-bars"></i>
                            <p>Mục lục</p>
                        </div>
                        <div class="sidebar">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index", "Student")"><span class="icon">&#127891;</span>Hồ sơ học sinh</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Classroom")"><span class="icon">&#128214;</span>Lớp học</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Grade")"><span class="icon">&#128200;</span>Điểm số</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Schedule")"><span class="icon">&#128197;</span>Thời khóa biểu</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Subject")"><span class="icon">&#128197;</span>Quản lý môn học</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Teacher")"><span class="icon">&#128100;</span>Phân công giáo viên</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "InfomationTeacher")"><span class="icon">&#128100;</span>Hồ sơ giáo viên</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
-->
        <main>
            @RenderBody()
        </main>
    </div>
</body>

</html>
