<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí học sinh</title>
    <link rel="stylesheet" href="../CSS/Base.css">
    <link rel="stylesheet" href="../CSS/Hearder.css">
    <link rel="stylesheet" href="../CSS/Menu.css">
    <link rel="stylesheet" href="../fontawesome-free-6.7.1-web/css/all.min.css">
    <link rel="stylesheet" href="../CSS/Delete.css">
</head>

<body class="body">
    <div class="grid">
        <div class="app">
            <!-- -------------------------------------- -->
            <div class="table_Detail">
                <div class="detail-item">
                    <strong>Tên lớp</strong> @Model.ClassRoom
                </div>
                <div class="detail-item">
                    <strong>Ngày trong tuần</strong> @Model.DayOfWeek
                </div>
                <div class="detail-item">
                    <strong>Ngày bắt đầu</strong> @Model.StartTime
                </div>
                <div class="detail-item">
                    <strong>Ngày kết thúc</strong> @Model.EndTime
                </div>
                <div class="detail-item">
                    <strong>MMH</strong> @Model.Subject.Id
                </div>
                <div class="btn_form">
                    <button class="btn-back btn_view" type="submit">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>