@model QLyHS1.Data.Schedule

@{
    ViewData["Title"] = "Thời khóa biểu";
}

<h1>Xóa Thời khóa biểu</h1>

<h3>Bạn có muốn xóa Thời khóa biểu?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassRoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassRoom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
