@model IEnumerable<QLyHS1.Models.ClassroomViewModel>
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý hồ sơ học sinh</title>
    <link rel="stylesheet" href="~/css/Base.css">
    <link rel="stylesheet" href="~/css/Class.css">
</head>
<body>
    <div class="container_form">

        <div class="main-content">
            <h1>Hồ sơ lớp học</h1>

            <div class="search-container">
                <form name="SearchForm" asp-action="Search" asp-controller="Classroom">
                    <input type="text" placeholder="Tìm kiếm" name="query">
                    <button class="btn-search">Tìm kiếm</button>
                </form>
                <button class="btn-add" onclick="location.href='@Url.Action("Add", "Classroom")'">+</button>
                <form method="get" asp-action="Index">
                    <label for="grandLevel">Lọc theo khối:</label>
                    <select name="grandLevel" id="grandLevel" onchange="this.form.submit()">
                        <option value="">-- Chọn lớp --</option>
                        @if (ViewBag.GrandLevel != null)
                        {
                            foreach (SelectListItem classroom in ViewBag.GrandLevel)
                            {
                                <option value="@classroom.Value">@classroom.Text</option>
                            }
                        }
                    </select>
                </form>
                <button class="btn-refresh">⟲</button>
            </div>

            <div class="list-container">
                <ul class="styled-top">
                        <li>STT</li>
                        <li>Tên lớp</li>
                        <li>Số lượng</li>
                        <li>Khối lớp</li>
                        <li>Giáo viên chủ nhiệm</li>
                
                    </ul>
             
                <div class="styled-list">
                    @if (Model != null && Model.Any())
                    {
                        int stt = 1;
                        foreach (var student in Model)
                        {
                            <ul>
                                <li>@stt</li>
                                <li>@student.Name</li>
                                <li>@student.Quantity</li>
                                <li>@student.GrandLevelName</li>
                                <li>@student.TeacherName</li>
                             
                                <li>
                                    <a asp-action="Edit" asp-route-id="@student.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@student.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                                </li>
                            </ul>
                            stt++;
                        }

                    }
                    else
                    {
                        <li colspan="7">Không có dữ liệu học sinh.</li>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
