@model QLyHS1.Data.Grade
@{
    ViewData["Title"] = "Quản lý Điểm";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Classroom</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeII)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeII)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeSemester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeSemester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolYear.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
