@using Azure.Core
@model IEnumerable<QLyHS1.Models.GradeViewModel>
@{
    ViewData["Title"] = "Quản lý Điểm";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí học sinh</title>
    <link rel="stylesheet" href="~/CSSP/Students.css">
    <link rel="stylesheet" href="~/CSSP/Base.css">
    <link rel="stylesheet" href="~/CSSP/Hearder.css">
    <link rel="stylesheet" href="~/CSSP/Menu.css">
    <link rel="stylesheet" href="~/CSSP/Socre.css">
    <link rel="stylesheet" href="~/fontawesome-free-6.7.1-web/css/all.min.css">
</head>

<body class="body">

            <div class="table-container">
                <div class="table_top">
                    <div class="group_top">
                        <form name="SearchForm" asp-action="Search" asp-controller="Student">
                            <input class="input_search" type="text" placeholder="Tìm kiếm" name="query">
                            <button class="btn-search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                        <button onclick="window.location.href='@Url.Action("Add", "Grade")'" class="btn-add" onclick="">+</button>
                        <button class="btn-refresh">⟲</button>
                    </div>
                    <div class="group_top">
                         <div class="form_excel_1">
                             <form asp-action="ImportFromExcel" asp-controller="Grade" method="post" enctype="multipart/form-data">
                                <button class="form_11" type="button" onclick="document.getElementById('excelFile').click();">Tải Excel File</button>
                                 <input type="file" name="excelFile" id="excelFile" class="form-control" style="display: none;" required onchange="this.form.submit();" />
                            </form>
                            <button class="form_11 btn btn-success mt-2" type="submit">Nhập bằng Excel</button>
                         </div>
                    </div>
                <div class="group_top">
                <a asp-action="ExportToExcel" asp-controller="Grade" class="btn-text">Xuất Excel</a>
                    <form method="get" asp-action="Index" class="group_class">
                        <label for="className" class="btn-text"></label>
                        <select name="className" id="className" onchange="this.form.submit()" class="assds">
                            <option value="">-- Chọn lớp --</option>
                            @if (ViewBag.Classrooms != null)
                            {
                                foreach (SelectListItem classroom in ViewBag.Classrooms)
                                {
                                    <option value="@classroom.Value">@classroom.Text</option>
                                }
                            }
                        </select>
                    </form>
                    <form method="get" asp-action="Index" class="group_class">
                        <select name="subName" id="className" onchange="this.form.submit()" class="assds">
                            <option value="">-- Chọn môn học --</option>
                            @if (ViewBag.SubjectsForSpecificTeacher != null)
                            {
                                foreach (SelectListItem classroom in ViewBag.SubjectsForSpecificTeacher)
                                {
                                    <option value="@classroom.Value">@classroom.Text</option>
                                }
                            }
                        </select>
                    </form>
                </div>
            </div>
                <div class="table_form">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th class="wide">STT</th>
 
                                <th>Họ tên</th>
                                <th>Học kỳ</th>
                                <th>Môn học</th>
                                <th>Năm học</th>
                                <th>Điểm hệ số 1</th>
                                <th>Điểm hệ số 2</th>
                                <th>Điểm hệ số 3</th>
                                <th>Thiết lập</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                int stt = 1;
                                foreach (var student in Model)
                                {
                                    <tr>
                                        <td>@stt</td>

                                        <td>@student.StudentName</td>
                                        <td>@student.SemesterName</td>
                                        <td>@student.SubjectName</td>
                                        <td>@student.SchoolYearName</td>
                                        <td>@student.GradeI</td>
                                        <td>@student.GradeII</td>
                                        <td>@student.GradeIII</td>
                                        <td>
                                    <div class="table_funtion" style="display: block;">
                                                <a asp-action="Details" asp-route-id="@student.Id">Xem chi tiết</a>
                                                <p></p>
                                                <a asp-action="Edit" asp-route-id="@student.Id">Cập nhập thông tin</a>
                                                <p></p>
                                                <a asp-action="Delete" asp-route-id="@student.Id">Xóa</a>
                                            </div>
                                        </td>
                                    </tr>
                                    stt++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" class="text-center">Không có dữ liệu</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
</body>

</html>
