@model IEnumerable<QLyHS1.Models.SubjectViewModel>
@{
    ViewData["Title"] = "Quản lí môn học";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí môn học</title>
    <link rel="stylesheet" href="~/CSSP/Students.css">
    <link rel="stylesheet" href="~/CSSP/Base.css">
    <link rel="stylesheet" href="~/CSSP/Hearder.css">
    <link rel="stylesheet" href="~/CSSP/Menu.css">
    <link rel="stylesheet" href="~/fontawesome-free-6.7.1-web/css/all.min.css">
</head>
<body class="body">
    <div class="grid">

            <!-- -------------------------------------- -->
            <div class="table-container">
                <div class="table_top">
                    <div class="group_top">
                        <form name="SearchForm" asp-action="Search" asp-controller="Subject">
                            <input class="input_search" type="text" placeholder="Tìm kiếm" name="query">
                            <button class="btn-search"> <i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    <button onclick="window.location.href='@Url.Action("Add", "Subject")'" class="btn-add" onclick="">+</button>
                    <button class="btn-refresh" onclick="location.reload()">⟲</button>

                    </div>
                    <div class="group_top">
                        <a href="" class="btn-text">Xuất Excel</a>
                    </div>
                </div>
                <div class="table_form">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th class="wide">STT</th>
                                <th>Môn học</th>
                                <th>Thiết lập</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                int stt = 1;
                                foreach (var sub in Model)
                                {
                                    <tr>
                                        <td>@stt</td>
                                        <td>@sub.Name</td>
                                        <td>
                                        <div class="table_funtion" style="display: block;">
                                                <a asp-action="Details" asp-route-id="@sub.Id">Xem chi tiết</a>
                                                <p></p>
                                                <a asp-action="Edit" asp-route-id="@sub.Id">Cập nhật thông tin</a>
                                                <p></p>
                                                <a asp-action="Delete" asp-route-id="@sub.Id">Xóa</a>
                                            </div>
                                        </td>
                                    </tr>
                                    stt++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3" class="text-center">Không có dữ liệu</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</body>

</html>
