@model IEnumerable<QLyHS1.Models.SubjectViewModel>
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý môn học</title>
    <link rel="stylesheet" href="~/css/Base.css">
</head>
<style>

</style>

<body>
    <div class="container_form">

        <div class="main-content">
            <h1>Quản lý môn học</h1>

            <div class="filter-section">
               
                    <button class="btn-add" onclick="location.href='@Url.Action("Add", "Subject")'">+</button>
                
            </div>

            <div class="list-container">

                <ul class="styled-top">
                        <li>STT</li>
                        <li>Tên môn học</li>
                      
                    </ul>
                <div class="styled-list">
                    @if (Model != null && Model.Any())
                    {
                        int stt = 1;
                        foreach (var sub in Model)
                        {
                            <ul>
                                <li>@stt</li>
                                <li>@sub.Name</li>
                               
                                <li>
                                    <a asp-action="Edit" asp-route-id="@sub.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@sub.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@sub.Id">Delete</a>
                                </li>
                            </ul>
                            stt++;
                        }

                    }
                    else
                    {
                            <li colspan="7">Không có dữ liệu môn học.</li>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

</html>
